/*
@media all and (display-mode: standalone) media query is used to check if
page is loading from app or website.
 */

.app {
    height: 100vh;
    margin: 0;
    background-color: cyan;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: default;
    font-family: Verdana, Geneva, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (orientation: landscape) {
    .app {
        flex-direction: row;
    }

    #init-stub {
        padding: 2vw;
        margin: 0;
        color: #000085;
        background-color: #B2B3B3;
        border: transparent;
        border-radius: 10px;
        font-size: 5vw;
    }

    #installButton {
        border: transparent;
        border-radius: 5px;
        font-size: 3vw;
        color: #000085;
        background: #B2B3B3;
        margin: 2vw;
    }
}

/*
to make text size the same simply change vw to
vh when orientation changes then will use
same edge
 */

@media (orientation: portrait) {
    .app {
        flex-direction: column;
    }

    #header {
        max-width: 70%;
    }

    #init-stub {
        margin: 0;
        padding: 2vh;
        color: #000085;
        background-color: #B2B3B3;
        border: transparent;
        border-radius: 10px;
        font-size: 5vh;
    }

    #installButton {
        border: transparent;
        border-radius: 5px;
        font-size: 3vh;
        color: #000085;
        background: #B2B3B3;
        margin: 2vh;
    }
}

